= render 'shared/header'
= render 'shared/memberinfo'
= render 'shared/post'
<<<<<<< Updated upstream
= render 'shared/membertasktable'
=======
= render 'shared/memberinfo'

- @tasks.each do |task|
  =task.content
  =task.priority_type
- @projects.each do |project|
  =project.name
>>>>>>> Stashed changes
